<h1>Your different coin combinations solution</h1>
<form action="/title">
  <div class="form-group">
    <label for="title">Please enter the amount you want to check:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
